/* Elementos Base */
:root{
    --vermelho: #e50914;
    --preto: #141414;
    --titulo: 'Open Sans', sans-serif;
    --texto: 'Nunito', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--preto) !important;
    font-family: var(--texto);
    font-weight: 300; 
    color: #FFF;
}
/* PRELOADER */
.spinner-grow{
    color: var(--vermelho);
}
#preloader {
    position: fixed !important;
    top:0 !important;
    left:0 !important;
    right:0 !important;
    bottom:0 !important;
    background-color:var(--preto) !important; 
    z-index:100000 !important; 
}
#preloader .inner {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;  
}
/* Header */
header{
    width: 100%;
    top: 0px;
    background-color: var(--preto);
    opacity: 0.9;
    padding-top: 5px;
    padding-bottom: 5px;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .container .sidebar-logo{
    display: none;
}
header .container .logo{
    color: var(--vermelho);
    font-family: var(--titulo) ;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 1rem;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition-timing-function: linear;
}

header .container .navLink{
    text-decoration: none;
    color: #AAA;
    margin-right: 1rem;
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--titulo);
    font-weight: 700;
}

header .container .navLink:hover{
    color: #FFF;
    transition: .3s ease-in;
}
.container .sidebar-logo .logo_name, 
    .container .sidebar-logo .fa-bars{
        display: none;
    }

/* Filme Principal */

.filme-pricipal{
    font-size: 1.3rem;
    color:#FFF;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.filme-pricipal .container{
    margin-right: 2rem;
    margin-left: 2rem;
    width: 100%;
    font-family: var(--texto);
    font-weight: 300; 
}

.filme-pricipal .container .titulo{
    font-size: 3rem;
    font-family: var(--titulo);
    font-weight: 700;
    margin-top: 25%;
}

.filme-pricipal .container .descricao{
    margin-top: 1rem;
    text-align: justify;

}

.filme-pricipal .botoes{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.filme-pricipal .botoes .btn{
    background-color: rgba(0,0,0,.60);
    border: none;
    color: white;
    padding: 0.5rem 0.7rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s ease-out;
    border-radius: 5px;
}

.filme-pricipal .botoes .btn:hover{
    background-color: white;
    color: black;
    font-style: italic;
    transition: all 0.7s;
}

.filme-pricipal .botoes i{
    margin-right: 8px;
}

/* Carrossel */
.carrossel-producoes{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--preto);
    padding: 1rem;
} 
.subTitulo{
    padding-left: 2rem;
    padding-top: 2rem;
    color: #FFF;
    font-size: 2rem;
    font-family: var(--titulo);
    font-weight: 700;
}

 .box-filme{
    max-height: 400px;
    max-width: 400px;
    width: auto;
    display: block;
    border-radius: 20px;
    padding: 10px;
}

.box-filme:hover{
    border: #FFF groove 1px;
    transition: all 0.7s;
}

.owl-prev, .owl-next {
    display: flex;
    align-items: center;
    position: absolute;
    height: 320px !important;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,.50)100%) !important;
    border: none;
    border-radius: 5px !important;
    width: 1.7rem !important;
    height: auto!important;
    padding: 4px 7px;
    margin: 1px 5px;
    cursor: pointer;
    border-radius: 20px !important;
    margin: 1rem !important;
}

.btn2,#btn-close,.modal-content{
    color: #FFF !important;
}
#btn-close{
    position: absolute;
    left: 100%;
}
.modal-content{
    align-items: center;
}
.btn2{
    margin-top: 10px !important;
    margin-left: 10px;
    border: #FFF solid 1px !important;
}
.btn2:hover{
    font-style: italic;
    color: var(--preto) !important;
    background-color: #FFF;
    transition: all 0.7s;
}
.info_modal{
    margin: 10px;
    font-family: var(--texto);
    font-weight: 300;
}
#modal_overview{
    text-align: justify;
    margin: 10px 0 10px 0 !important;
}
#modal_runtime,#modal_generos,#modal_produtora{
    margin: 4px 0 4px 0 !important;
}
.modal-title{
    font-family: var(--titulo) !important;
    font-weight: 700;
}
